.btn-social-link {
  border-radius: 30px;
  text-decoration: none;
  padding: 5px 50px;
  line-height: 30px;
  border: 1px solid;
  border-color: rgba(150,150,150,0.6);
  color: rgba(150,150,150);
  transition: 0.2s;
  font-weight: lighter;
  margin: 30px 10px 10px 10px;
}

.btn-social-link:hover {
  text-decoration: none;
  color: black;
  border-color: black;
}
