.container {
  margin: 0 auto;
  width: 750px;
}

.container h1 {
  color: white;
  font-family: 'Open Sans';
  font-size: 60px;
  font-weight: bolder;
  text-shadow: 1px 2px 3px rgba(0,0,0,0.5);
  padding-top: 150px;
  margin: 0px;
}

.container h3 {
  color: white;
  font-family: 'Open Sans';
  font-size: 30px;
  font-style: italic;
  text-shadow: 1px 2px 3px rgba(0,0,0,0.5);
  margin-bottom: 50px;
}

.container-activity {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container p {
  font-family: 'Open Sans';
  font-style: italic;
  font-size: 12px;
  margin: 0px;
}

.banner .container a {
  border-radius: 30px;
  text-decoration: none;
  padding: 5px 50px;
  line-height: 30px;
  border: 1px solid;
  border-color: white;
  color: white;
  transition: 0.2s;
  font-weight: bolder;
  text-shadow: 1px 2px 3px rgba(0,0,0,0.5);
}

.banner .container a:hover {
  background-color: white;
  color: orange;
  text-shadow: none;
  font-weight: bolder;
}
