.main-container {
  display: flex;
}

.container p {
  font-family: 'Open Sans';
  font-style: italic;
  font-size: 12px;
  margin: 0px;
}

.banner .container a {
  border-radius: 30px;
  text-decoration: none;
  padding: 5px 50px;
  line-height: 30px;
  border: 1px solid;
  border-color: white;
  color: white;
  transition: 0.2s;
  font-weight: bolder;
  text-shadow: 1px 2px 3px rgba(0,0,0,0.5);
}

.banner .container a:hover {
  background-color: white;
  color: orange;
  text-shadow: none;
  font-weight: bolder;
}
