.footer {
  margin: 30px 0px;
  background-color: rgb(200,200,200);
}

.link {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link ul {
  margin: 0px;
  padding: 0px;
}

.link li {
  text-align: center;
  display: inline;
  list-style-type: none;
  line-height: 50px;
  font-size: 28px
  margin: 0px;
  text-align: center;
}

.link a {
  color: rgba(150,150,150,0.4);
}

.link a:hover {
  color: rgba(150,150,150,0.8);
}

.container p {
  text-align: center;
  font-family: 'Open Sans';
  font-style: italic;
  font-size: 12px;
  margin: 0px;
}
