.footer {
  margin: 30px 0px;
  background-color: rgba(220,220,220,0.8);
}

.link {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link ul {
  margin: 0px;
  padding: 0px;
  font-size: 32px;
}

.link li {
  display: inline;
  list-style-type: none;
  line-height: 50px;
  margin: 0px;
}

.link a {
  color: rgba(150,150,150,0.4);
}

.link a:hover {
  color: rgba(150,150,150,0.8);
}

.footer p {
  text-align: center;
}

